.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.canvas-controls {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
}

.canvas-controls label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.drag-area {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent; /* Remove grey background */
  position: relative;
}

.drag-area canvas {
  border: 2px dashed #ccc;
  border-radius: 10px;
}

.upload-message {
  position: absolute;
  text-align: center;
}

.upload-message .icon {
  font-size: 48px;
  margin-bottom: 20px;
}

.upload-message header {
  font-size: 24px;
  font-weight: bold;
}

.upload-message span {
  display: block;
  margin: 10px 0;
}

.upload-message button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.upload-message button:hover {
  background-color: #2980b9;
}



.canvas-container{
  border-radius: 15px;
    border: 2px solid #dedede;
    overflow: hidden;
    display: inline-block;
}

.ask-ai-button {
  position: absolute;
  padding: 5px 10px;
  background-color: white;
  border: 1px solid #007bff;
  color: #007bff;
  border-radius: 20px;
  cursor: pointer;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, color 0.3s;
}

.ask-ai-button:hover {
  background-color: #007bff;
  color: white;
}

.ai-input-container {
  position: absolute;
  display: flex;
  align-items: center;
  background-color: white;
  padding: 5px;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: auto;
  max-width: 500px; /* Increase the max-width to fit the placeholder text */
  margin-top: 10px;
}

.ai-input-container input {
  margin-right: 10px;
  padding: 5px;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  flex: 1;
  min-width: 300px; /* Set a minimum width to ensure the placeholder text is fully visible */
}

.submit-button {
  padding: 5px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  width: 30px;
  height: 30px;
}

.submit-button .fa-arrow-up {
  font-size: 16px;
}
