.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.canvas-controls {
margin-bottom: 100px;
display: flex;
gap: 10px;

}

.canvas-controls label {
display: flex;
flex-direction: column;
align-items: center;
}

.drag-area {
border: 2px dashed #ccc;
border-radius: 10px;
width: 700px;
height: 500px;
display: flex;
align-items: center;
justify-content: center;
background-color: #d3d3d3; /* Light grey background */
position: relative;
}

.drag-area.active {
border-color: #666;
}

.drag-area canvas {
border-radius: 10px;
}

.upload-message {
position: absolute;
text-align: center;
}

.upload-message .icon {
font-size: 48px;
margin-bottom: 20px;
}

.upload-message header {
font-size: 24px;
font-weight: bold;
}

.upload-message span {
display: block;
margin: 10px 0;
}

.upload-message button {
padding: 10px 20px;
font-size: 16px;
background-color: #3498db;
color: #fff;
border: none;
border-radius: 5px;
cursor: pointer;
}

.upload-message button:hover {
background-color: #2980b9;
}
