/* Footer.css */
.footer {
  background-color: #f8f9fa;
  padding: 10px 20px; 
  border-top: 2px solid #e9ecef;
  width: 100%;
  box-sizing: border-box; 
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
}

.footer-left {
  display: flex;
  align-items: center;
  margin-left: 140px;
}

.footer-logo {
  height: 40px;
  margin-right: 10px;
}

.footer-text {
  color: rgba(0,0,0,.65);
  font-family: JioType, helvetica, arial, sans-serif;
  font-weight: 500;
  text-transform: none;
  font-size: .85rem;
  letter-spacing: -.06px;
  line-height: 1.3333333333;
}

.footer-links {
  display: flex;
  gap: 10px;
  margin-right: 110px;

}

.footer-link {
  color: #0a2885;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  padding: 0 10px;
}

.footer-link::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 70%;
  background-color: #e0e0e0;
}

.footer-link:first-child::before {
  display: none;
}

.footer-link:hover {
  text-decoration: underline;
}
