.navbar {
    padding: 0.75rem;
    background-color: #0f3cc9;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .nav-link {
    color: #ffffff !important;
    margin-right: 1rem;
    font-size: 1.25rem;
  }
  
  .nav-link:hover {
    color: #d3d3d3 !important;
  }
  

.navbar-logo {
  height: 30px; /* Adjust as needed */
  margin-right: 10px;
  margin-left: 10px;
}
