/* Sidebar.css */

.sidebar-container {
  display: flex;
  flex-direction: column;
  width: 80px;
  background-color: #ffffff; /* White sidebar background */
  height: 100vh;
  padding-top: 20px;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.sidebar-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #2c3e50;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;
  width: 100%;
  padding: 10px 0;
  border-radius: 8px;
  text-align: center;
}

.sidebar-item:hover {
  color: #3498db;
  background-color: #f0f0f0;
}

.sidebar-icon {
  font-size: 24px;
  margin-bottom: 5px;
}

.sidebar-item span {
  font-size: 12px;
  margin-top: 5px;
}

.text-settings-window {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 10px;
  width: 230px; /* Reduced width */
  position: absolute;
  left: 85px;
  top: 70px; /* Adjust to ensure it stays below the header */
  z-index: 10;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.shape-settings-window {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 10px;
  width: 160px; /* Reduced width */
  position: absolute;
  left: 85px;
  top: 180px; /* Adjust to ensure it stays below the header */
  z-index: 10;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.customize-settings-window {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 10px;
  width: 200px;
  position: absolute;
  left: 85px;
  top: 300px; /* Adjust to ensure it stays below the header */
  z-index: 10;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.customize-settings-window label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.resize-button {
  padding: 10px;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  background-color: #3498db;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.resize-button:hover {
  background-color: #2980b9;
}

.color-picker {
  margin-top: 20px;
}

.color-options {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.color-option {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}
